{
  "models": [
    {
      "name": "OpenAI_GPT_5_Mini",
      "api_key": "YOUR_OPENAI_API_KEY",
      "organization_id": "YOUR_OPENAI_ORG_ID",
      "model": "gpt-5-mini",
      "tokenPrice": 0,
      "config": {
        "temperature": 0.7,
        "frequency_penalty": 0,
        "presence_penalty": 0,
        "max_tokens": 4096
      }
    },
    {
      "name": "Google_Generative_Flash",
      "project": "YOUR_GCP_PROJECT_ID",
      "location": "europe-southwest1",
      "model": "gemini-3-flash-preview",
      "vertex": {
        "type": "service_account",
        "project_id": "YOUR_GCP_PROJECT_ID",
        "private_key_id": "YOUR_PRIVATE_KEY_ID",
        "private_key": "-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n",
        "client_email": "YOUR_SERVICE_ACCOUNT@YOUR_PROJECT.iam.gserviceaccount.com",
        "client_id": "YOUR_CLIENT_ID",
        "auth_uri": "https://accounts.google.com/o/oauth2/auth",
        "token_uri": "https://oauth2.googleapis.com/token",
        "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
        "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/YOUR_SERVICE_ACCOUNT%40YOUR_PROJECT.iam.gserviceaccount.com",
        "universe_domain": "googleapis.com"
      },
      "tokenPrice": 0,
      "config": {
        "temperature": 1.0,
        "max_tokens": 4096
      }
    }
  ],
  "notes": {
    "naming_convention": "Los nombres de los modelos deben comenzar con los siguientes prefijos según el proveedor:",
    "prefixes": {
      "OpenAI": "OpenAI_GPT",
      "Google": "Google_Generative",
      "Anthropic": "Anthropic",
      "Facebook": "Facebook_Llama"
    },
    "example": {
      "OpenAI": "OpenAI_GPT_5_Mini",
      "Google": "Google_Generative_Flash",
      "Anthropic": "Anthropic_Claude",
      "Facebook": "Facebook_Llama"
    },
    
    "tokenPrice": "El precio ha de fijarse por Millon de tokens ya que es el estándar fijado",

    "info": "Este archivo define la configuración necesaria para cada modelo y proveedor. Asegúrate de usar las claves y IDs adecuados."
  }
}