/** @type {import('next').NextConfig} */

const nextConfig = {
    eslint: {
      // Warning: This allows production builds to successfully complete even if
      // your project has ESLint errors.
      ignoreDuringBuilds: true,
    },
    basePath: '/aiquiz', //aiquiz is the context for using it with a reverse proxy.
    reactStrictMode: false,
    env: {
      MONGODB_URI: "mongodb://localhost:27017/aiquiz",
      HOST_SERVER: "127.0.0.1",
      PORT_SERVER: "3000",
      BASIC_AUTH_USER: "admin",
      BASIC_AUTH_PASSWORD: "admin1234"
    }
}


module.exports = nextConfig