/** @type {import('next').NextConfig} */

const nextConfig = {
    basePath: '/aiquiz', //aiquiz is the context for using it with a reverse proxy.
    reactStrictMode: false,
    env: {
      MONGODB_URI: "mongodb://localhost:27017/aiquiz",
      HOST_SERVER: "127.0.0.1",
      PORT_SERVER: "3000",
      BASIC_AUTH_USER: "admin",
      BASIC_AUTH_PASSWORD: "admin1234"
    }
    /*
    * Give priority to one model or another in case ABCTesting is not active,
    * we can give priority to the lowest cost model or the model with fewer reported failures.
    * 
    * Cost has priority over fewerReported if both are active.
    * 
    * If `keepmodel` is true, the previously assigned model will be kept, even if
    * new priorities (cost or failure reports) are considered.
    * If `keepmodel` is false, the model assignment can change based on the current priorities.
    */
    costPriority: false,
    fewerReportedPriority: false,
    keepmodel: false
}


module.exports = nextConfig